<!-- create 2 button  -->
<button (click)="onBook()">Books</button>
<button (click)="onCar()">Cars</button>

<div *ngIf="!dataCars && !dataBooks">
  <h2>Cliquez sur un bouton pour voir de la données !</h2>
</div>

<div *ngIf="dataCars">
  <div *ngFor="let car of dataCars.results">
    <div class="card">
      <img [src]="car.urls.small" alt="car image" />
      <div class="card-body">
        <h5 class="card-title">{{ car.alt_description }}</h5>
        <p class="card-text">{{ car.description }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="dataBooks">
  <div *ngFor="let book of dataBooks.results">
    <div class="card">
      <img [src]="book.urls.small" alt="book image" />
      <div class="card-body">
        <h5 class="card-title">{{ book.alt_description }}</h5>
        <p class="card-text">{{ book.description }}</p>
      </div>
    </div>
  </div>
</div>
